<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
      <form class="navbar-form navbar-left" role="search">
  		<div class="form-group">
    	<input type="text" class="form-control" placeholder="Search" id="query">
  		</div>
  		<button type="submit" class="btn btn-default" id="search">Submit</button>
	 </form>
	 <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Guest</a></p>
    </div>
  </div>
</nav>